@tailwind base;
@tailwind components;
@tailwind utilities;

.sectionbg {
    background: url(./assets/house.png);
    height: 20rem;
}

.videobg {
    background: url(./assets/mobile-hero.png);
    background-repeat: no-repeat;
    /* background-size: ; */
}